<article class='spec-reminder-item'>
  {{#link-to 'reminders.reminder' reminder.id}}
    <h2 class='spec-reminder-title'>
      {{reminder.title}}
    </h2>
  {{/link-to}}
  <p class='spec-reminder-date'>{{reminder.date}}</p>
  <p class='spec-reminder-notes'>{{reminder.notes}}</p>
  {{#link-to 'reminders.reminder.edit' reminder}}
    Edit Reminder
  {{/link-to}}
</article>
