<h1>REMINDERS</h1>
{{#if model}}
  {{#each model as |reminder|}}
    {{reminder-item reminder=reminder}}
  {{/each}}
  {{else}}
    <p class='no-reminder-msg'>You don't have any reminders yet!</p>
{{/if}}

{{outlet}}
